streamlit
requests
google-generativeai

# Langchain ecosystem
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-tavily

# Vector DB & token counting
pinecone
tiktoken

# Document processing
trafilatura
pypdf